.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: inline;
    align-self: center;
    margin-left: 15px;
}

.site-name{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.nav-menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a{
    color: black;
    text-decoration: none;
}

.nav-menu:hover{
    color: white;
    transition: 0.3s;
}

/*dashboard*/

.dashboard{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.sample{
    background-color: pink;
}

.sample:hover{
    color: aqua;
    transition: 0.3s;
}